# Byte-compiled / cache
__pycache__/
*.py[cod]

# Packaging
build/
dist/
*.egg-info/
wheels/

# Environments
.venv/
venv/
.python-version

# Tooling
.mypy_cache/
.ruff_cache/
.pytest_cache/
.coverage
htmlcov/
